@import url(./reset.css);

header{
  position: relative;
  height: 50px;
}

header .head-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 12px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 1;
}

header .logo{
  max-width: 220px;
}

header .logo a{
  display: flex;
  align-items: center;
}

header .logo a img{
  width: 80px;
  transition: 0.5s;
}

header .logo a img:hover{
  opacity: 0.5;
}

header nav{
  position: absolute;
  top: 50px;
  width: 100%;
  margin-left: -12px;
  transform: translateY(-600px);
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  transition: 0.5s;
  z-index: 999;
}

header nav.is-active{
  transform: translateY(0);
}

header nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header nav li{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

header nav li:nth-child(4){
  flex-shrink: 0;
}

header nav li a{
  display: flex;
  align-items: center;
  padding: 6px 12px;
  transition: 0.5s;
}

header nav li a:hover{
  opacity: 0.5;
}

header .side-menu-button{
  transition: 0.5s;
}

header .side-menu-button:hover{
  opacity: 0.5;
}

header .side-menu-button button{
  font-size: 1.2rem;
}

footer{
  width: 100%;
  padding: 30px 10px;
  background-color: #ebebeb;
}

footer .head-wrap{
  display: flex;
  flex-direction: column;
}

footer .head-wrap .co-info{
  display: none;
}

footer .co-info .address span{
  font-weight: bold;
}

footer .co-info .contact{
  display: flex;
}

footer .co-info .contact dl{
  width: 100%;
}

footer .co-info .contact .desc{
  display: flex;
  justify-content: center;
}

footer .co-info .contact .desc dt{
  font-weight: bold;
}

footer .sns ul{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer .sns ul li{
  margin-right: 15px;
  transition: 0.5s;
}

footer .sns ul li:last-child{
  margin-right: 0;
}

footer .sns ul li:hover{
  opacity: 0.5;
}

footer .sns ul li a{
  display: block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 18px;
}

footer .sns ul li a:last-child{
  margin-right: 0;
}

footer .sns ul li a img{
  width: 18px;
  height: 18px;
}

footer .footimg{
  width: 100%;
  margin-bottom: 30px;
}

footer span{
  display: block;
  font-size: 0.7rem;
  letter-spacing: -0.05rem;
  text-align: center;
}

.to-top button{
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgb(83, 83, 83);
  background-color: rgb(250, 250, 111);
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.5s;
  transform: translateY(300px);
}

.to-top button.is-active{
  transform: translateY(0);
}

.to-top button:hover{
  font-size: 1.8rem;
}

.to-top button i{
  transform: translateY(2px);
}



/*** main ***/

main{
  padding: 0 10px;
}

main ul{
  display: flex;
  flex-wrap: wrap;
}

main ul li{
  width: 50%;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

main ul li a .desktop{
  display: none;
}

main ul li img{
  width: 100%;
}



@media screen and (min-width:768px){
  header{
    justify-content: space-between;
  }

  header .head-wrapper{
    padding: 0 5rem;
  }

  header .logo{
    max-width: 300px;
  }

  header .logo a img{
    width: 120px;
    transition: 0.5s;
  }

  header nav{
    position: static;
    transform: translateY(0);
    border: none;
    width: auto;
    margin-right: 10px;
  }

  header nav ul{
    flex-direction: row;
  }

  header nav ul li{
    position: relative;
    display: block;
    width: auto;
    margin-right: 25px;
  }

  header nav ul li a{
    padding: 6px;
  }

  header nav ul li a::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: #303030;
    transition: 0.2s;
  }

  header nav .underline{
    display: none;
    content: '';
    position: absolute;
    top: 36px;
    left: 0;
    height: 3px;
    background-color: #303030;
  }

  header nav .underline.is-active{
    display: block;
  }

  header nav ul li:hover a::after{
    transform: scaleX(1);
  }

  header .side-menu-button{
    display: none;
  }

  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .many li{
    width: calc(100%/5);
  }

  main .few li{
    width: calc(100%/3);
  }

  main ul{
    width: 80%;
  }

  main ul li{
    width: calc(100%/5);
    margin-bottom: 0;
  }

  main ul li a .img-contents{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  main ul li a .img-contents img{
    transition: 0.5s;
  }

  main ul li a .desktop{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  
  main ul li a .img-contents:hover .desktop{
    visibility: visible;
    background-color: #999999;
    opacity: 0.9;
  }

  main ul li a .img-contents:hover img{
    transform: scale(1.1);
  }

  main ul li .mobile{
    display: none;
  }

  main ul li .desktop p{
    font-size: 1.8rem;    
  }

  main ul li .desktop span{
    font-size: 1rem;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  footer .sns{
    margin-bottom: 40px;
    order: 2;
  }

  footer .sns ul li{
    margin-right: 40px;
  }

  footer .sns ul li a{
    font-size: 2rem;
  }

  footer .sns ul li a img{
    width: 32px;
    height: 32px;
  }

  footer .head-wrap{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-bottom: 40px;
    width: 100%;
  }

  footer .head-wrap .co-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    max-width: 500px;
    margin-right: 40px;
  }

  footer .head-wrap .address{
    display: flex;
    margin-bottom: 5px;
  }
  
    footer .head-wrap dt{
      margin-right: 10px;
      font-size: 1.1rem;
    }

  footer .head-wrap .address dt{
    font-weight: bold;
    min-width: 106px;
  }

  footer .head-wrap .contact dl{
    display: flex;
    flex-direction: row;
  }

  footer .head-wrap .contact .desc:last-child dt{
    min-width: 50px;
  }

  footer .head-wrap .contact .desc:first-child dd{
    margin-right: 15px;
  }

  footer .footimg{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 50%;
    max-width: 500px;
  }

  footer .footimg img{
    width: 100%;
  }

  footer span{
    order: 3;
    text-align: center;
    font-size: 0.8rem;
  }
}