/*** Reset ***/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(../assets/font/MyriadPro-Regular.otf);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'MyriadPro-Regular', sans-serif ;
}

ul,
ol,
li{
  list-style: none;  
}

a{
  color: black;
  text-decoration: none;
}

button{
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}