/*** Reset ***/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

ul,
ol,
li{
  list-style: none;  
}

a{
  color: black;
  text-decoration: none;
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

/*** Header ***/
header{
  /* position: relative; */
  height: 50px;
}

header .logo{
  position: absolute;
  left: 10px;
}

header .logo a{
  display: block;
  font-size: 24px;
  font-weight: bold;
}

header .side-menu-button{
  position: absolute;
  top: 18px;
  right: 12px;
  font-size: 18px;
}

.header-inner{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  background-color: #fff;
  z-index: 1;
}

nav{
  position: absolute;
  top: 50px;
  /* left: 0; */
  width: 100%;
  transform: translateY(-600px);
  background-color: skyblue;
  text-transform: capitalize;
  transition: 0.5s;
  z-index: 999;
}

nav.is-active{
  transform: translateY(0);
}

nav ul{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

nav li{
  text-align: center;
}

nav li:hover{
  opacity: 0.5;
}

nav li a{
  display: block;
  padding: 6px;
}

/*** main***/
main{
  padding: 0 10px;
}

section{
  margin-bottom: 40px;
}

section:last-child{
  margin-bottom: 20px;
}

.section-title{
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 10px;
  background-color: #ebebeb;
  border-radius: 4px;
}

.top{
  width: 100%;
  height: 100vh;
}

.top .home{
  position: relative;
  width: 100%;
  height: 100%;
  /* max-height: 91vh; */
  overflow: hidden;
  background-image: url(assets/images/bg-gray.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.top .home .logo{
  position: absolute;
  top: 40%;
  padding: 10px;
}

.about .about-img{
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.about .about-img img{
  width: 100%;
  padding: 10px;
}

.about .about-desc-img{
  width: 100%;
  margin-bottom: 40px;
}

.about .about-desc-img img{
  width: 100%;
}

.about .about-desc-footimg{
  width: 100%;
  margin-bottom: 10px;
}

.about .about-desc-footimg img{
  width: 100%;
}

.about .about-desc h2{
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.about .about-desc p{
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -0.06px;
  line-height: 24px;
}

.about .about-desc p span{
  font-size: 16px;
  font-weight: 600;
}

.overview dl{
  padding: 5px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.overview .list-item{
  margin-bottom: 20px;
}

.overview .list-item dd{
  margin-bottom: 5px;
  font-weight: bold;
}

.overview .list-item.webhard span{
  font-weight: bold;
}

.process{
  width: 100%;
}

.process img{
  padding: 0  50px;
}

.partners img{
  width: 100%;
}

.contact ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contact ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact li img{
  width: 60px;
  height: 60px;
}

footer{
  padding: 0 10px;
}

footer .head-wrap{
  display: flex;
  flex-direction: column;
}

footer .head-wrap .co-info{
  display: none;
}

footer .co-info .address span{
  font-weight: bold;
}

footer .co-info .contact{
  display: flex;
}

footer .co-info .contact dl{
  width: 100%;
}

footer .co-info .contact .desc{
  display: flex;
  justify-content: center;
}

footer .co-info .contact .desc dt{
  font-weight: bold;
}

footer .sns ul{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer .sns ul li{
  margin-right: 15px;
  transition: 0.5s;
}

footer .sns ul li:hover{
  opacity: 0.5;
}

footer .sns ul li a{
  display: block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 18px;
}

footer .sns ul li a:last-child{
  margin-right: 0;
}

footer .footimg{
  width: 100%;
  margin-bottom: 10px;
}

footer span{
  display: block;
  margin-bottom: 10px;
}


@media screen and (max-width:767px) {
  .about .about-desc p br{
    display: none;
  } 
}

@media screen and (min-width:768px){
  header{
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }

  header .logo{
    margin: 10px;
  }

  header .side-menu-button{
    display: none;
  }

  nav{
    width: 60%;
    transform: translateY(0)
  }

  nav ul{
    flex-direction: row;
    justify-content: space-around;
  }

  .about{
    display: flex;
  }

  .about .about-img{
    flex-basis: 50%;
  }
  .about .about-desc{
    flex-basis: 50%;
  }

  footer .head-wrap .co-info{
    display: flex;
  }
}