@import url(css/reset.css);

/*** Header ***/
header{
  height: 50px;
  padding: 0 10px;
  background-color: #fff;
}

header .logo button{
  width: 180px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  transition: 0.5s;
}

header .logo button:hover{
  opacity: 0.5;
}

header .side-menu-button{
  position: absolute;
  top: 18px;
  right: 12px;
  font-size: 18px;
  transition: 0.5s;
}

header .side-menu-button:hover{
  opacity: 0.5;
}

.header-inner{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-left: -10px;
  padding: 0 10px;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid #ebebeb;
}

nav{
  position: absolute;
  top: 50px;
  width: 100%;
  transform: translateY(-600px);
  background-color: #fff;
  transition: 0.5s;
  z-index: 999;
}

nav.is-active{
  transform: translateY(0);
}

nav ul{
  display: flex;
  flex-direction: column;
}

nav li{
  text-align: center;
}

nav li button{
  padding: 6px;
  font-size: 16px;
  text-transform: capitalize;
}

/*** main***/
main{
  padding: 0 10px;
}

section{
  margin-bottom: 100px;
}

section:last-child{
  margin-bottom: 30px;
}

.section-title{
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 60px;
  /* background-color: #ebebeb; */
  border-radius: 4px;
}

.slide{
  position: relative;
  padding: 0;
  overflow: hidden;
}

.slide-show{
  display: flex;
  width: 400vw;
  margin-bottom: 20px;
  transition: 0.5s;
}

.slide-list{
  width: 100vw;
  background-color: #ebebeb;
}

.slide-list img{
  width: 100%;
  height: 40vh;
  object-fit: contain;
}
.slide-list,
.slide-list img{
  display: block;
}

.slide .prev{
  position: absolute;
  top: 60%;
  left: 10px;
  font-size: 1.5rem;
}

.slide .next{
  position: absolute;
  top: 60%;
  right: 10px;
  font-size: 1.5rem;
}

.slide .prev:hover,
.slide .next:hover{
  opacity: 0.5;
}

.slide .controls{
  display: flex;
  justify-content: center;
}

.slide .controls button{
  font-size: 1rem;
}

.slide .pause{
  margin-right: 20px;
}

.top{
  width: 100%;
  height: 90vh;
}

.top .logo{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url(assets/images/index/bg-gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top .logo img{
  display: block;
}

.top .logo .black{
  padding: 0 1em;
  width: 100%;
}

.top .logo .white{
  display: none;
}

.about .about-img{
  margin-bottom: 40px;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

.about .about-img img{
  width: 100%;
  padding: 10px;
}

.about .about-desc-img{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.about .about-desc-img img{
  width: 90%;
}

.about .about-desc-footimg{
  width: 100%;
  margin-bottom: 10px;
}

.about .about-desc-footimg img{
  width: 100%;
}

.about .about-desc h2{
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.about .about-desc p{
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -0.06px;
  line-height: 24px;
}

.about .about-desc p br{
  display: none;
} 

.about .about-desc p span{
  font-size: 16px;
  font-weight: 600;
}

.overview .overview-img{
  display: none;
}

.overview dl{
  padding: 5px;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
}

.overview .list-item{
  margin-bottom: 20px;
}

.overview .list-item dd{
  margin-bottom: 5px;
  font-weight: bold;
}

.overview .list-item.webhard span{
  font-weight: bold;
}

.process{
  width: 100%;
}

.process .ver{
  transform: translateX(50%);
  width: 50%;
}

.process .hori{
  display: none;
}

.partners img{
  width: 100%;
}

.partners .hori{
  display: none;
}

.contact ul{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.contact ul li{
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  text-align: left;
}

.contact ul li:last-child{
  margin-bottom: 10px;
}

.contact li img{
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

footer{
  padding: 0 10px;
}

footer .head-wrap{
  display: flex;
  flex-direction: column;
}

footer .head-wrap .co-info{
  display: none;
}

footer .co-info .address span{
  font-weight: bold;
}

footer .co-info .contact{
  display: flex;
}

footer .co-info .contact dl{
  width: 100%;
}

footer .co-info .contact .desc{
  display: flex;
  justify-content: center;
}

footer .co-info .contact .desc dt{
  font-weight: bold;
}

footer .sns ul{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

footer .sns ul li{
  margin-right: 15px;
  transition: 0.5s;
}

footer .sns ul li:last-child{
  margin-right: 0;
}

footer .sns ul li:hover{
  opacity: 0.5;
}

footer .sns ul li a{
  display: block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 18px;
}

footer .sns ul li a:last-child{
  margin-right: 0;
}

footer .sns ul li a img{
  width: 18px;
  height: 18px;
}

footer .footimg{
  width: 100%;
  margin-bottom: 30px;
}

footer span{
  display: block;
  margin-bottom: 50px;
  font-size: 0.7rem;
  letter-spacing: -0.05rem;
  text-align: center;
}

@media screen and (min-width:768px){
  /*** Header ***/
  header{
    display: flex;
    justify-content: center;
  }

  .header-inner{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 5rem;
  }

  header .logo{
    flex: 1;
  }

  header .side-menu-button{
    display: none;
  }

  nav{
    position: static;
    transform: translateY(0);
    flex: 5;
  }

  nav ul{
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }

  nav ul li{
    margin-right: 20px;
  }
  
  nav ul li:last-child{
    margin-right: 0;
  }
  
  nav ul li button{
    position: relative;
    padding: 10px;
  }

  nav ul li button::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: #303030;
    transition: 0.5s;
  }

  nav .underline{
    display: none;
    content: '';
    position: absolute;
    top: 36px;
    left: 0;
    height: 3px;
    background-color: #303030;
  }

  nav .underline.is-active{
    display: block;
  }

  nav ul li:hover button::after{
    transform: scaleX(1);
  }

  /*** Main  ***/
  main{
    padding: 0;
  }

  section{
    margin-bottom: 250px;
    padding: 0 20px;
  }

  section:first-child{
    padding: 0;
  }

  section:last-child{
    margin-bottom: 80px;
  }

  .section-title{
    font-size: 40px;
    margin-bottom: 100px;
    padding: 0 2rem;
  }

  .top{
    height: 95vh;
  }

  .top .logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/index/bg-blue.png);
  }

  .top .logo img{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 35%;
  }
  
  .top .logo .white{
    display: block;
    max-width: 800px;
  }

  .top .logo .black{
    display: none;
  }

  .slide .prev{
    left: 20%;
    font-size: 2.5rem;
  }
  
  .slide .next{
    right: 20%;
    font-size: 2.5rem;
  }

  .about-contents{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about .about-img{
    margin-right: 100px;
    max-width: 750px;
    min-width: 450px;
    margin-bottom: 0;
  }
  
  .about .about-desc{
    margin-left: 100px;
  }

  .about .about-desc h2{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 50px;
  }
  
  .about .about-desc p{
    text-align: left;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 50px;
  }

  .about .about-desc p br{
    display: block;
  } 

  .about .about-desc p span{
    font-size: 1.5rem;
  }

  .about .about-desc-img{
    display: block;
    max-width: 450px;
    margin-bottom: 150px;
  }

  .about .about-desc-img img{
    width: 100%;
  }

  .about .about-desc-footimg{
    max-width: 550px;
  }

  .overview .overview-contents{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .overview .overview-img{
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
    margin-right: 100px;
  }
  
  .overview .overview-img img{
    width: 100%;
    max-width: 700px;
  }

  .overview dl{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: none;
    font-size: 1.25rem;
    margin-left: 100px;
  }

  .overview dl div{
    display: flex;
  }

  .overview dl dd{
    width: 70px;
    margin-right: 30px;
  }

  .process .process-img{
  }
  
  .process .ver{
    display: none;
  }
  
  .process .hori{
    display: block;
    width: 100%;
  }

  .partners .ver{
    display: none;
  }

  .partners .hori{
    display: block;
  }

  .contact ul{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .contact ul li{
    margin-right: 100px;
    font-size: 1.25rem;
  }

  .contact ul li:last-child{
    margin-right: 0;
  }

  .contact ul li img{
    width: 32px;
    height: 32px;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  footer .sns{
    margin-bottom: 40px;
    order: 2;
  }

  footer .sns ul li{
    margin-right: 40px;
  }

  footer .sns ul li a{
    font-size: 2rem;
  }

  footer .sns ul li a img{
    width: 32px;
    height: 32px;
  }

  footer .head-wrap{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1;
    margin-bottom: 40px;
    width: 100%;
  }

  footer .head-wrap .co-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    max-width: 500px;
    margin-right: 40px;
  }

  footer .head-wrap .address{
    display: flex;
    margin-bottom: 5px;
  }

  footer .head-wrap .address dt{
    font-weight: bold;
  }

  footer .head-wrap dt{
    margin-right: 10px;
    font-size: 1.1rem;
  }

  footer .head-wrap .contact dl{
    display: flex;
    flex-direction: row;
  }

  footer .head-wrap .contact .desc:first-child dd{
    margin-right: 15px;
  }

  footer .footimg{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 50%;
    max-width: 500px;
  }

  footer .footimg img{
    width: 100%;
  }

  footer span{
    order: 3;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 40px;
  }
}